<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Homeloam|Signup</title>
    <link rel="stylesheet" href="{% static 'css/authentication.css' %}" />
  </head>
  <body>
  <nav><a href="{% url 'listings:home' %}"><div id="logo"></div></a></nav>
    <div class="wrapper">
      <div class="auth">
        <form name="signup-form" id="form" method="POST">
          {% csrf_token %}
          <div class="form-row heading">
            <h2>Sign up for Homeloam</h2>
          </div>
          <div class="form-row">
            {{sign_up_form.username.label_tag}}
            {{sign_up_form.username}}
          </div>
          <div class="form-row signup-errors" id="username-error">
            {{sign_up_form.username.errors}}
          </div>
          <div class="form-row">
            {{sign_up_form.email_or_phone.label_tag}}
            {{sign_up_form.email_or_phone}}
          </div>
          <div class="form-row signup-errors" id="email-phone-error">
            {{sign_up_form.email_or_phone.errors}}
          </div>
          <div class="form-row">
            {{sign_up_form.password.label_tag}}
            {{sign_up_form.password}}
          </div>
          <div class="form-row signup-errors" id="password-error">
            {{sign_up_form.password.errors}}
          </div>

          <div class="form-row">
            {{sign_up_form.confirm_password.label_tag}}
            {{sign_up_form.confirm_password}}
          </div>
          <div class="form-row signup-errors" id="con-password-error">
            {{sign_up_form.confirm_password.errors}}
          </div>

          <div class="form-row">
            <button type="submit" name="submit">Sign up</button>
          </div>
          <div class="form-row">
            <p>Already have an account? <a href="{% url 'authentication:login' %}">Sign in</a></p>
          </div>
        </form>
      </div>
    </div>
    <script type="text/javascript" src="{% static 'javascript/jquery-3.4.1.js' %}"></script>
<!--    <script type="text/javascript" src="{% static 'javascript/signup.js' %}"></script>-->
  </body>
</html>
