html {
  height: 100%;
  width: 100%;
  /* Font size is needed to make the activity bar the correct size. */
  font-size:10px;

}

#upload-button {
  width: auto;
  display: block;
  margin: 20px auto;
}

body {
  height: 100%;
  width: 100%;
  background-color: #404040;
  font-size: 16px;
  /* background: url(images/d.jpg) no-repeat; */
}

nav {
  background-color: #33a1c9;
  font-size:10px;

}

#navbar-holder {
  height: auto;
  background-color: #33a1c9;

}
#upload-btn {
  background-color: #ff8c00;
  color: #fff;
}

.white-text {
  color: #fff;
}
.tempt {
  background-color: #ff8c00;
  color: #fff;
}
button {
  border: 0;
}

.dropdown-menu > a {
  font-size: 14px;
}
.dropdown-toggle::after {
  display: none;
}
/* .container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  height: auto;
  flex-direction: column;
} */
#file-to-upload {
  display: none;
}

#pdf-main-container {
  /* width: 400px; */
  margin: 20px auto;
}

#pdf-loader {
  display: none;
  text-align: center;
  color: #999999;
  font-size: 13px;
  line-height: 100px;
  height: 100px;
}

#pdf-contents {
  display: none;
}

.pdf-meta {
  /* overflow: hidden;
  margin: 0 0 20px 0; */
  display: flex;

  width: 70vw;
  max-width: 500px;
  justify-content: space-around;
}

/* #pdf-buttons {
  float: left;
} */

#page-count-container,
#page-count-container-bottom {
  display: flex;
  align-items: center;
  color: #fff;
}

.number-circle {
  border-radius: 5px;
  width: auto;
  height: auto;
  padding: 8px;

  background: #fff;
  border: 2px solid #007bff;
  color: #666;
  text-align: center;

  /* font: 32px Arial, sans-serif; */
}
/* #pdf-current-page {
  display: inline;
}

#pdf-total-pages {
  display: inline;
} */

#pdf-canvas {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

#page-loader {
  height: 100px;
  line-height: 100px;
  text-align: center;
  display: none;
  color: #999999;
  font-size: 13px;
}

#text-layer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0.2;
  line-height: 1;
}

#text-layer > div {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
}

.popover-header {
  font-size: 18px;
}
.popover-body {
  font-size: 14px;
}

.img-holder {
  width: 100%;
  height: 80vh;
  background: red;
}
.img-holder > img {
  width: auto;
  max-width: 100%;
  height: 100%;
}

.carousel-item {
  height: 500px;
}
.carousel-item img {
  height: 500px;
}
.promo-row i {
  color: #33a1c9;
}
.promo-row p {
  color: #fff;
  font-size: 17px;
}

.contain-all {
  height: auto;
  min-height: 100vh;
  width: 100%;
}

footer {
  background: #33a1c9;
  color: #fff;
  height: 4rem;
  display: flex;
  justify-content: center;
}
#footer-info {
  margin: auto;
}
@media screen and (max-width: 420px) {
  #pdf-meta {
    width: 100%;
  }
  #page-count-container,
  #page-count-container-bottom {
    display: none;
  }
}
