* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top:2rem;
}

.row {
  max-width: 920px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.8rem;
}

.account-image-holder {
  max-width: 300px;
  margin: 0 auto;
}

.account-image-holder img {
  max-width: 200px;
  height: auto;
  max-height: 170px;
  min-height:170px;
  border: 1px solid #333;
  border-radius: 10px 10px;
}

.heading {
  text-align: center;
  background: #333;
  color: #fff;
  width: 100%;
}
.info-list {
  list-style: none;
  width: 100%;
  padding-top: 0.4rem;
  box-sizing: border-box;
}
.info-list-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 0.4rem;
  box-sizing: border-box;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid #333;
}

.info-list-item a {
  text-decoration: none;
}
